.container{
    display: flex;
}

.student-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
label{
    font-size: 1.5rem;
}
input{
    width: 260px;
    height: 40px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    color: rgb(175, 14, 207);
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(199, 15, 236);
    box-shadow: 0px 8px 10px rgba(48, 20, 205, 0.363);
}

input::placeholder{
    font-size: 1.25rem;
    color: rgb(137, 39, 198);
}

button{
    margin-top: 20px;
    font-size: 1.15rem;
    border-radius: 10px;
    border: 1px solid rgb(23, 2, 2);
}

button:hover{
    cursor: pointer;
    background-color: rgb(105, 39, 198);
}

button:active{
    background-color: rgb(69, 11, 150);
}

.search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}